.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url('/images/back-reg.jpg') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  max-width: 80vw;
  width: 800px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 500px;
}

.login-image {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-image .console-mark {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
}

.login-content {
  flex: 2;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.welcome-text {
  font-size: 2rem;
  font-weight: 600;
  color: var(--purple);
  margin-bottom: 30px;
}

.login-button {
  width: 100%;
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--purple);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--purple-light);
}

.registration-form input,
.registration-form textarea {
  width: 100%;
  padding: 12px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  
}

.registration-form input:focus,
.registration-form textarea:focus {
  border-color: var(--purple);
  outline: none;
  box-shadow: 0 0 8px rgba(106, 27, 154, 0.2);
}

.registration-form textarea {
  resize: none;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration-form button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.register-button {
  background-color: var(--purple);
  color: #fff;
}

.register-button:hover {
  background-color: #4b007d;
}

.login-jury-button {
  background-color: #ff5722;
  color: #fff;
}

.login-jury-button:hover {
  background-color: #e64a19;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}
