:root {
  --purple: #330036;
  --purple-light: #dcd0ff;
  
}
.main {
  display: flex;
  justify-content: center;
  align-items: center; 
}

body {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;      
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  gap: 20px;
  margin: 0 auto; 

}

.success-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button {
  display: inline-flex;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: var(--purple);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
  margin: 5px;
}

button:hover {
  background-color: var(--purple-light);
  transform: scale(1.03);
}

h1,h2,h3{
  margin: 10px;
}
